<ion-header>
  <ion-toolbar color="rosado">
    <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form  [formGroup]="formCode" (ngSubmit)="changePassword(formCode.value)" novalidate>
        <ion-row>
            <ion-col col-6>
                <div class="cargaImagen"
             (click)="takePicture()">
            <img src="{{foto}}?{{timemark}}" alt="">
        </div>
            </ion-col>
            <ion-col col-6 *ngIf="datosPaciente">
                <ion-col col-12>
                  <ion-label stacked class="labelDatos">Nombres</ion-label>
                  <p class="dato">{{datosPaciente.nombre}}</p>
                </ion-col>
                <ion-col col-12>
                  <ion-label stacked class="labelDatos">Apellidos</ion-label>
                  <p class="dato">{{datosPaciente.apellido1}} {{datosPaciente.apellido2}}</p>
                </ion-col>
                <ion-col col-12>
                    <ion-label stacked class="labelDatos">Sexo</ion-label>
                    <p class="dato">{{datosPaciente.sexo}}</p>
                </ion-col>
                <ion-col col-12>
                    <ion-label stacked class="labelDatos">Telefono</ion-label>
                    <p class="dato">{{datosPaciente.telefono1}}</p>
                </ion-col>
              </ion-col>
    
              <ion-col col-12 *ngIf="datosPaciente">
                <ion-row>
                  <ion-col col-6>
                      <ion-label stacked class="labelDatos">Fecha de nacimiento</ion-label>
                      <p class="dato">{{datosPaciente.fecha_nac | date}}</p>
                  </ion-col>
    
                  <ion-col col-6 *ngIf="correoElectronico">
                      <ion-label stacked class="labelDatos">Correo Electronico</ion-label>
                      <p class="dato">{{correoElectronico}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
    
    
              <div class="tituloCambioContraseña">
                <h4 >Cambiar Contraseña</h4>
              </div>
              <ion-col col-12>
                  <ion-item>
                      <ion-label stacked>Contraseña Actual</ion-label>
                      <ion-input type="password" value=""
                                formControlName="oldPassword"
                                ngModel>Contraseña actual</ion-input>
                  </ion-item>
                  <div *ngIf="formCode.get('oldPassword').errors && (formCode.get('oldPassword').touched || formCode.get('oldPassword').dirty)">
                    <p class="error" *ngIf="formCode.get('oldPassword').hasError('required')">campo requerido</p>
                </div>
              </ion-col>
    
              <ion-col col-12>
                  <ion-item>
                      <ion-label stacked>Contraseña</ion-label>
                      <ion-input [type]="password_type" value=""
                                 formControlName="passwordnew"
                                 ngModel>Nueva contraseña
                      </ion-input>
                      <ion-icon name="eye" item-end (click)="changeType()"></ion-icon>
                  </ion-item>
                  <div *ngIf="formCode.get('passwordnew').errors && (formCode.get('passwordnew').dirty || formCode.get('passwordnew').touched)">
                    <p class="error" *ngIf="formCode.get('passwordnew').hasError('required')">campo requerido</p>
                    <p class="error" *ngIf="formCode.get('passwordnew').hasError('pattern')">al menos un numero o un caracter especial</p>
                    <p class="error" *ngIf="formCode.get('passwordnew').hasError('minlength')">minimo 8 caracteres</p>
                </div>
              </ion-col>
    
              <ion-col col-12>
                  <ion-item>
                      <ion-label stacked>Confirmar Contraseña</ion-label>
                      <ion-input [type]="passwordold_type"
                                 value=""
                                formControlName="passwordRepeat"
                      ngModel>Confirmar nueva contraseña</ion-input>
                      <ion-icon name="eye" item-end (click)="changeOldType()"></ion-icon>
                  </ion-item>
                  <div *ngIf="formCode.get('passwordRepeat').errors && (formCode.get('passwordRepeat').dirty || formCode.get('passwordRepeat').touched)">
                    <p class="error" *ngIf="formCode.get('passwordRepeat').hasError('required')">campo requerido</p>
                    <p class="error" *ngIf="formCode.get('passwordRepeat').hasError('pattern')">al menos un numero o un caracter especial</p>
                    <p class="error" *ngIf="formCode.get('passwordRepeat').hasError('minlength')">minimo 8 caracteres</p>
                </div>
              </ion-col>
    
        </ion-row>
    
        <button ion-button color="primary" block class="alto50"
                                            type="submit"
                                           [disabled]="!formCode.valid || !validacion()"
                                           color="morado"
                                           >cambiar contraseña</button>
      </form>

</ion-content>
