.parrafoFinanciador{
    text-align: center;
    font-size:1.2em;
    width:80%;
    margin-left:10%;
    margin-bottom: 50px;
    font-weight:200;
    color:rgb(167, 167, 167);
}
.tituloPlanes{
    background: #9483C8;
    padding: .5em;
    text-align: left!important;
    width:80%;
    border-top-right-radius: 15px;
    color:#fff;
    margin-top:20px!important;
    font-size:1.2em;
    font-weight: 200;
}
.botonPagar{
  height: 50px;
}